.github
.storybook
.vercel

node_modules
src
stories
storybook-static

.gitignore
.prettierc
babel.config.js
metro.config.js
react-native-svg.js
tsconfig.json
vercel.json
webpack.dev.js
webpack.prod.js
yarn.lock